.bounce-enter-active {
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  animation: bounce-out 0.5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

.fadeout-enter-active {
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.fadeout-leave-active {
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.fadeout-enter,
.fadeout-leave-to {
  opacity: 0;
}
